.container__hero {
  width: 100%;
  height: 800px;
  border: 1px solid black;
  background-image: url("/img/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
